<%= form_with(model: property) do |form| %>
  <% if property.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
        <% property.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mt-2">
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="mt-2">
    <%= form.label :address, style: "display: block" %>
    <%= form.text_field :address, class: "form-control"  %>
  </div>

  <div class="mt-2">
    <%= form.label :price, style: "display: block" %>
    <%= form.number_field :price, class: "form-control"  %>
  </div>

  <div class="mt-2">
    <%= form.label :rooms, style: "display: block" %>
    <%= form.number_field :rooms, class: "form-control"  %>
  </div>

  <div class="mt-2">
    <%= form.label :bathrooms, style: "display: block" %>
    <%= form.number_field :bathrooms, class: "form-control"  %>
  </div>

   <div class="mt-2">
    <%= form.label :photo, style: "display: block" %>
    <%= form.file_field :photo, class: "form-control"  %>
     <% if @property.photo.present? %>
        <%= image_tag(@property.image_as_thumbnail, class: "mt-3")%>
      <% end %>
  </div>

  <div class="mt-2">
    <%= form.submit "Submit" , class: "btn btn-lg btn-secondary"  %>
  </div>
<% end %>
