<div class="property_photo" style="background-size: cover;height:600px; background-image: url(<%= rails_blob_url(property_photo_url(@property))%>)"%>
  <div class="photo-overlay"></div>
</div>

<div id="<%= dom_id property %>" class="container mt-5">
  <div class="row">
    <div class="col-8">
      <div class="row">
        <div class="col-6">
          <p><%= property.address %></p>
          <p class="h2"><%= property.price > 0 ? number_to_currency(property.price): "For sale"%></p>
        </div>
        <div class="col-6 text-center">
          <div class="row bg-light p-3">
            <div class="col-4">
              <p class="m-0"><strong>Rooms</strong></p>
              <span class="lead"><%= property.rooms %></span>
            </div>
            <div class="col-4">
              <p class="m-0"><strong>Bathrooms</strong></p>
              <span class="lead"><%= property.bathrooms %></span>
            </div>
            <div class="col-4">
              <p class="m-0"><strong>Parking Spaces</strong></p>
              <span class="lead"><%= property.parking_space%></span>
            </div>
          </div>
        </div>
      </div>
      <div class="row border-top border-bottom pt-4 pb-4 m-4">
        <div class="col-6 text-left">
          <strong class="text-success"><%= link_to "Est.Monthly Repayments of #{ number_to_currency((property.price) / 360) }", "#", class: "text-success" %></strong>
        </div>
        <div class="col-6 text-center">
          <strong><%= link_to 'Can we afford this?', '#', class: "ml-4 text-success" %></strong>
        </div>
      </div>
        <div class="row">
          <div class="col">
            <h1>Property Description</h1>
            <p><%= property.name %></p>
            <%= simple_format property.details%>
          </div>
        </div>
      </div>
    <div class="col-4">
      <%= render "properties/agent_details"%>
    </div>
  </div>

</div>
