
<main class="form-signin w-100 m-auto">
  <br>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    <div class="form-floating">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control",id:"floatingInput" %>
      <%= f.label :email, or:"floatingInput" %>
    </div>

    <div class="form-floating">
      <%= f.password_field :password,class: "form-control", id:"floatingPassword", autocomplete: "current-password" %>
      <%= f.label :password, for:"floatingPassword" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="form-check text-start my-3">
        <%= f.check_box :remember_me, class: "form-check-input" %>
        <%= f.label :remember_me, class: "form-check-label" %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Log in", class: "btn btn-primary w-100 py-2" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</main>
