<!DOCTYPE html>
<html>
  <head>
    <title>PropertyFinder</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
      <% if ["homepage", "devise", "sessions","registrations" ].include?(controller.controller_name)%>
      <header>
        <%= render "layouts/nav/public"%>
      </header>
      <%= render "layouts/alerts"%>
      <%= yield%>
      <% else%>
        <%= render "layouts/nav/dashboard"%>
        <div class="container-fluid">
          <div class="row">
            <%= render "layouts/nav/sidebar" %>
          </div>
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <%= render "layouts/alerts"%>
                <%= yield %>
            </main>
        </div>
      <% end%>
    <%= render "layouts/footer"%>
  </body>
</html>
